body {
	background-image: url(../img/AM.png);
	background-repeat: no-repeat;
	background-position: top left;
	background-color: #333;
}



/*
 ****************
 * =modal properties
 ****************
*/  

.ui-toolkit .modal-content {
		border-radius: 12px;
}

.ui-toolkit .modal-dialog {
	width: 860px;
	border-radius: 12px;
}

.ui-toolkit .modal-header {
	background-color: #d0d0d0;
	border-bottom: 1px solid #b4b4b4;
	border-radius: 12px 12px 0px 0px;
}

.ui-toolkit .modal-body,
.ui-toolkit .modal-footer {
	background-color: #f1f1f1;
}

.ui-toolkit .modal-footer {
	border-radius: 0px 0px 12px 12px;
	margin-top: 0px;
}

/*
 *******************************
 * =space out the elements of form
 ******************************
*/  
.panel, form, .test_window {
	zmargin-bottom: 10px;
	margin-top: 10px;
}

.ui-toolkit p {
	margin-bottom: 20px;
}

.ui-toolkit section {
	margin-bottom: 25px;
}

.ui-toolkit section:last-child {
	margin-bottom: 0px;
}


p.expandable {
	font-size: 18px;
	display: inline;
}

/*
 ****************
 * =typography
 ****************
*/  

.ui-toolkit body, 
.ui-toolkit p {
	font-size: 13px;
}

.ui-toolkit .option {
	font-weight: normal;
}

.static {
	color: #666666;
	display: inline;
}

.ui-toolkit label.modal-title {
	font-size: 14px;
}
/*
 ****************
 * =Student Population table
 ****************
*/  

.ui-toolkit .panel  {
	border: 1px solid #b4b4b4;
	max-height: 350px;
	overflow-y: scroll;
}

.ui-toolkit .table > thead > tr.active > td{
	background-color: #e9e9e9;
}

.glyphicon-file {
	margin-left: 45px;
}

td.toggle {
	margin-left: 80px;
}


.ui-toolkit .table > tbody > tr > td {
	font-size: 11px;
	padding: 4px 8px;
	vertical-align: middle;
}

.expanded {
	position: relative;
	top: 12px;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid #333;
	margin-right: 20px;
}

.collapsed {
	width: 0;
	height: 0;
	border-top: 3px solid transparent;
	border-left: 6px solid #333;
	border-bottom: 3px solid transparent;
	margin: 10px;
}

.glyphicon-play {
	margin-right: 10px;
}
/*
 ****************
 * =Testing Window
 ****************
*/  
.window label {
	margin-right: 10px;
	text-align: center;
}

.ui-toolkit .btn-group {
	zpadding-right: 20px;
}

.window input[type=text] {
	border-radius: 3px 0px 0px 3px;
	border: 1px solid #dddddd;
	box-shadow: 0px;
	-webkit-box-shadow: 0px;
	-moz-box-shadow: 0px;
	color: #333333;
	height: 30px;
	font-family: "benton-sans-book",Arial,sans-serif;
	font-size: 14px;
	line-height: 1.42857;
	padding: 8px;
	width: 220px;
}

.window .add-on {
	padding: 5px 5px 5px 7px;
	margin:-4px;
	background: #f1f1f1;
	border-radius: 0px 3px 3px 0px;
	border: 1px solid #ddd; 
}

.window {
	margin: 10px;
}

.bootstrap-datetimepicker-widget, .ui-toolkit .dropdown-menu {
	z-index: 3000;
}

/* hack */
.ui-toolkit .dropdown-menu li  {
  margin-left: -30px;
}

/*
 ****************
 * =Online Access
 ****************
*/  

#all_students {
	margin-right: 10px;
}

.ui-toolkit .online_toggle .switch-label-sm:before, 
.ui-toolkit .online_toggle .switch-label-sm:after {
    top: 1px;
}

/*
 ****************
 * =expandadable
 ****************
*/  

.ui-toolkit .expandable:before {
	zcontent: url('../img/eye.svg');
}

/*
 ****************
 * =Hide controls
 ****************
*/  
.ui-toolkit .show_mode {
	display: all;
}

.ui-toolkit .hide_mode {
	display: none;
}

.ui-toolkit .hide {
	display: none;
}

/*
 ****************
 * =misc
 ****************
*/  

.indent1 {
	content: "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;";
}

.indent2 {
	content: "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;";
}

.indent3 {
	margin-right: 50px;
}

.clicker {
	position: relative;
	top: 214px;
	left: 178px;
	font-size: 13px;
}

/*
 ****************
 * =footer
 ****************
*/  
.footer_btns {
	width: 100px;
	margin: 10px auto;
}