

section {
	margin: 0px 50px 20px;
}

div .rep_section, .rep_section {
	margin-bottom: 30px;
}


h4.table_name {
	color: #F37321;
}

/*
 ****************
 * =PDF settings
 ****************
*/  
.pdf_container {
	width: 835px; 
	background-color: #ffffff;
	margin: 3px auto;
	position: relative;
	height: 1110px;
}

.pdf_container>div {
	margin: 0px 50px;
}

.pdf_container>div>ul>li {
	margin: 0px;
}

.page_space {
	height: 90px;
} 

.ui-toolkit #page_break1, .ui-toolkit #page_break2 {
	background-color: #333333;
	font-size: 6px;
	z-index: 2;
}

.ui-toolkit #page_break1 {
	position: relative;
	top: 1110px;
}

.ui-toolkit #page_break2 {
	position: relative;
	top: 2195px;
}

/*
 *************************
 * =UI Toolkit overrides
 *************************
*/  


.ui-toolkit body {
	background-color: #333333;
}

.ui-toolkit p, .ui-toolkit body {
	font-size: 13px;
}

.ui-toolkit p {
	margin: 2px 0px;
	padding: 0px;
}


/*
 ****************
 * =header
 ****************
*/  

.table_row li, .stu_title li, .stu_category li {
	display: inline-block;
	margin: 0px;
	padding: 0px;
}

ul {
	list-style: none outside none;
	margin-bottom: 0px;
	padding: opx;
}

.ui-toolkit .beacon_logo{
	font-family: "amplify";
	color: #666666;
}


.stu_title {
	float: left;
	padding-left: 0px;
}

.stu_category {
	float: right;
}

.stu_title, .stu_category {
	padding-top: 20px;
}

/*
 ****************
 * =summary table
 ****************
*/  

.stu_data, h5.col_head {
	font-weight: bold;
}

.ui-toolkit .stu_data {
	font-size: 15px;
}

/*
 ****************
 * =standards table
 ****************
*/  

.standards_breakdown>.row>div {
	max-height: 68px;
	overflow: hidden;
	vertical-align: text-top;
	zpadding: 2px;
}

.data{
    border-bottom: 1px solid #e9e9e9;
    padding-bottom: px;
		padding-top: 1px;
}

.standards_breakdown>.row>.col_head{
	border: 0px;
}

.standards_breakdown>.row>.secondary_col_head {
	background-color: #e9e9e9; 
	height: 20px;
	margin-bottom: 5px;
	padding-bottom: 0px;
	padding-top: 0px;
}


p.secondary_col_head {
	color: #333333;
	font-size: 11px;
}

p.mastery {
	font-weight: bolder;
	
}

.std_id, p.std_id {
	font-weight: bolder;
	font-size: 9px;
	vertical-align: text-top;
	text-align: left;
	padding: 0px;
}

.mastered, h5.mastered {
	color: #60b033;
}

h5.mastered {
	font-weight: bolder;
}

.not_mastered {
	color: #d61c2a;
}

.unclear {
	color: #b4b4af;
}

.std_desc {
	line-height: 1.5em;
	font-size: 10px;
	padding-left: 5px;
}

.not_mastered_group {
	border-top: 1px solid #666666;
}

.end_mastered_group {
	border-bottom: 1px solid #666666;
}

.even {
	background-color: #dddddd
}

.ui-toolkit .col-md-1, .ui-toolkit .col-md-2 {
	text-align: center;
}

/*
 ****************
 * =review materials
 ****************
*/  

.ui-toolkit .stu_score {
	border: 1px solid #F37321;
}

.pts_earned {
	font-style: bold;
	font-size: 14px;
	color: #666666;
}


.item_row, .rubric {
	padding-top: 10px;
	padding-bottom: 10px;
}

.divider {
	border-bottom: 1px solid #dddddd;
	margin: 30px 0px;
}


.ui-toolkit .quote {
	font-size: 12px;
	padding: 10px;
	margin: 10px 0px;
	border: 1px solid #dddddd;
}

/*
 ****************
 * =tables
 ****************
*/  
.standards_breakdown>.row>.col_head {
	height: 35px;
	margin-bottom: 5px;
}

.summary>.row>.table_name,
 {
 	height: 25px;
 }

