
@font-face {
	font-family:"amplify-light";
	src:url('../fonts/amplify-light/amplify-light.eot');
	src:url('../fonts/amplify-light/amplify-light.eot?#iefix') format('embedded-opentype'),url('../fonts/amplify-light/amplify-light.woff') format('woff'), url('../fonts/amplify-light/amplify-light.ttf') format('truetype'), url('../fonts/amplify-light/amplify-light.svg') format('svg');
	font-weight:"normal";
	font-style:"normal"
}


.ui-toolkit body {
	background-color: #3E3F40;
}

.ui-toolkit .container {
	position: relative;
	background-color: #fff;
	height: 860px;
	margin-top: 10px;
	padding-left: 0px;
	padding-right: 0px;
}

#receiver {
	font-size: 48pt;
	margin: 70px 100px 70px;
	font-family: "amplify";
	color: #737373;
	zcolor: #F38547;
}


#message {
	zbackground-color: #f1f1f1;
	font-size: 22pt;
	padding: 40px 100px;
	color: #737373;
	position: absolute;
	bottom: 350px;
}

#sender {
	font-size: 12pt;
	padding-top: 25px;
	text-transform: uppercase;
}


#footerlogo {
	position: absolute;
	bottom: 170px;
	right: 100px;
	ztext-align: right;
	font-size: 39pt;
	color: #F38547;
	font-family: "amplify";
	zmargin: 30px 50px;
}

#sublogo {
	color: #bcbec0;
	zfont-family: "amplify-light";
}

#footericon {
	position: absolute;
	bottom: 40px;
	right: 70px;
}