/*****************
  =global
  ****************/
@viewport
	{
		zoom: 1.0;
		width: extend-to-zoom;
	}

@-ms-viewport
	{
		width: extend-to-zoom;
		zoom: 1.0;
	}

:target 
  {
   	background-color: gray;
   	color: white;
   	padding: 10px;
  }

body 
	{
		font-family: sans-serif;
		color: #333333;
	}

.wrap 
	{
	}

.footer, .title, nav>ul>li
	{
   	text-transform: lowercase;
  }

nav>ul>li>a, .footer>a 
  {
   	color: #a1a1a1;
  }

a 
	{
   	text-decoration: none;
  }

a:active 
	{
   	color: #333333;
  }



/*
 ******************
  =header
 ******************
*/

header > h2 
	{
  	float: left;
  }

.navlinks 
	{
  	float: right;
  	padding: 10px 0px;
  }

nav li 
	{
  	display: inline;
  	margin-left: 30;
  	margin-right: 0px;
  }

header 
	{
  }

.logo 
	{
  	-moz-box-sizing: border-box;
  	-webkit-box-sizing: border-box;
  	box-sizing: border-box;
  	background: url(../img/marvelous_tree.jpg) no-repeat;
  	color: #f1f1f1;
  	height: 131px;
  }

.spacer 
	{
  	background-color: #333333;
  	height: 131px;
  }



/*
 ***********************
   =main
 ***********************
*/

.primary 
	{
   	background: #e3e3e3;
  }


section 
	{
   	-moz-box-sizing: border-box;
   	-webkit-box-sizing: border-box;
   	box-sizing: border-box;
   	padding: 10px 10px 10px 0px;
  }

.readmore 
  {
   	background-color: #333333;
   	text-transform: uppercase;
   	color: #f1f1f1;
   	padding: 5px 10px;
  }

blockquote 
  {
   	font-style: italic;
   	color: #a1a1a1;
   	margin: 0 0;
  }


/******************
  =aside
  ****************/

aside a 
	{
   	color: #f1f1f1;
   	text-decoration: none;
  }


aside ul 
	{
   	list-style: none outside none;
   	margin-left: 0px;
  }


/*
 ****************
   =footer
 ****************
*/

.footer 
	{
	}

