body {
	margin: 0px;
}

p, h1, h2, h3, h4, h5, h6 {
	margin: 10px;
	font-family: sans-serif;
	font-weight: normal;
	display: inline-block;
}

strong {
	display: block;
}

.blue_logo1 {
	color: #003F87;
}

.blue_logo {
	color: #0198E1;
}

.blue_text {
	color: #2F2F4F;
}

.logoimg {
		margin-left: -25;
		padding: 0;
		height: 100px;
		z-position: -1;
}

p {
	display: block;
}

.subheader {
	font-size: 24px;
}

.article_date {
	display: block;
	margin: 0px 10px;
	color: #647687;
}

.event_date {
	display: block;

}

.article_container {
	margin: 30px 50px 70px 50px;
}

.tagline {
	font-family: "Comic Sans MS";
	margin-left: 15px;
	margin-bottom: 10px;
}

.page_wrapper {
	width: 95%;
	min-width: 892px;
	margin: auto;
}

.content_wrapper {
	background-color: #8B8378; 
}

.logo {
	margin: 20px 0px 20px 0px;
}


.logo h1 {
	display: inline;
	margin-right: -6px;
	margin-left: 0px;
	font-size: 42px;
}

.topnav {
	padding: 10px 0px;
	background-color: #647687;
}

.navlinks ul {
	margin: 0px;
	padding: 0px;
	list-style: none outside none;
}

.navlinks li {
	display: inline;
	margin: 0px;
	text-align: center;
}

.navlinks a {
	color: #c3c3c3;
	padding: 20px 30px;
}


.navlinks a:hover {
	background-color: #778899;
	color: #ffffff;
}

.navlinks a:active {
	background-color: #778899;
	color: #ffffff;
}


.content {
	background-color: #C6C3B5;
	float: left;
	width: 60%;
	padding: 15px;
	margin-right: 10px;
}

.sidebar {
	padding: 15px;
}

.sidebar li, .content li {
	list-style: none outside none;
	text-decoration: none;
}

.content ul {
	margin: 0px;
	padding: 0px;
}

.sidebar a {
	color: #cccccc;
	padding: 10px;
}

.sidebar a:hover {
	color: #ffffff;
}


.footer {
	clear: both;
	position: relative;
	bottom: 0px;
	border-top: 1px solid gray;
	background-color: #c3c3c3
}