/*
 *************************
 =COLORS
 
 ==lines and borders
	table border - #b4b4af
  vertical divider (gray) - #cacaca 

==background colors
  background for pts possible: #f2f5fa 
  background for scoring boxes: #dddddd  
  background for beacon nav bar: #e9e9e9;
  background for mClass bar (black): #000000;
  not mastered red #d61c2a
  mastered green #60b033

==text colors
  Amplify orange: #F37321;
  text for points possible: #1c9200 - green 
  mClass logo (blue): #99ccff;
  params text (black) - #666666 
  hyperlink: #0066cc
  Beacon nav hyperlink (blue) - #8fb6cd
  Admin page (orange) -  #ff9900
  Beacon nav active hyperlink (black) -  #badce8 


=DIMENSIONS
  30px w (38 W BORDER)
  22 h (36 or 38 w border)

 *************************
 */  

/*
 ****************
 * =fonts
 ****************
 */  

 @font-face{
  font-family:"amplify";
  src:url('../fonts/amplify/amplify.eot');
  src:url('../fonts/amplify/amplify.eot?#iefix') format('embedded-opentype'),url('../fonts/amplify/amplify.woff') format('woff'), url('../fonts/amplify/amplify.ttf') format('truetype'), url('../fonts/amplify/amplify.svg') format('svg');
  font-weight:"normal";
  font-style:"normal"
}

@font-face{
  font-family:"amplify-light";
  src:url('../fonts/amplify-light/amplify-light.eot');
  src:url('../fonts/amplify-light/amplify-light.eot?#iefix') format('embedded-opentype'),url('../fonts/amplify-light/amplify-light.woff') format('woff'), url('../fonts/amplify-light/amplify-light.ttf') format('truetype'), url('../fonts/amplify-light/amplify-light.svg') format('svg');
  font-weight:"normal";
  font-style:"normal"
}

@font-face{
  font-family:"amplify-icon";
  src:url('../fonts/amplify-icon/amplify-icon.eot');
  src:url('../fonts/amplify-icon/amplify-icon.eot?#iefix') format('embedded-opentype'),url('../fonts/amplify-icon/amplify-icon.woff') format('woff'), url('../fonts/amplify-icon/amplify-icon.ttf') format('truetype'), url('../fonts/amplify-icon/amplify-icon.svg') format('svg');
  font-weight:"normal";
  font-style:"normal"
}

@font-face{
  font-family:"benton-sans-medium";
  src:url('../fonts/benton-sans-medium/benton-sans-medium.eot');
  src:url('../fonts/benton-sans-medium/benton-sans-medium.eot?#iefix') format('embedded-opentype'),url('../fonts/benton-sans-medium/benton-sans-medium.woff') format('woff'), url('../fonts/benton-sans-medium/benton-sans-medium.ttf') format('truetype'), url('../fonts/benton-sans-medium/benton-sans-medium.svg') format('svg');
  font-weight:"normal";
  font-style:"normal"
}

@font-face{
  font-family:"benton-sans-bold";
  src:url('../fonts/benton-sans-bold/benton-sans-bold.eot');
  src:url('../fonts/benton-sans-bold/benton-sans-bold.eot?#iefix') format('embedded-opentype'),url('../fonts/benton-sans-bold/benton-sans-bold.woff') format('woff'), url('../fonts/benton-sans-bold/benton-sans-bold.ttf') format('truetype'), url('../fonts/benton-sans-bold/benton-sans-bold.svg') format('svg');
  font-weight:"normal";
  font-style:"normal"
}

@font-face{
  font-family:"benton-sans-book";
  src:url('../fonts/benton-sans-book/benton-sans-book.eot');
  src:url('../fonts/benton-sans-book/benton-sans-book.eot?#iefix') format('embedded-opentype'),url('../fonts/benton-sans-book/benton-sans-book.woff') format('woff'), url('../fonts/benton-sans-book/benton-sans-book.ttf') format('truetype'), url('../fonts/benton-sans-book/benton-sans-book.svg') format('svg');
  font-weight:"normal";
  font-style:"normal"
}

@font-face{
  font-family:"benton-sans-light";
  src:url('../fonts/benton-sans-light/benton-sans-light.eot');
  src:url('../fonts/benton-sans-light/benton-sans-light.eot?#iefix') format('embedded-opentype'),url('../fonts/benton-sans-light/benton-sans-light.woff') format('woff'), url('../fonts/benton-sans-light/benton-sans-light.ttf') format('truetype'), url('../fonts/benton-sans-light/benton-sans-light.svg') format('svg');
  font-weight:"normal";
  font-style:"normal"
}

@font-face{
  font-family:"glyphicons-halflings-regular";
  src:url('../fonts/glyphicons-halflings-regular/glyphicons-halflings-regular.eot');
  src:url('../fonts/glyphicons-halflings-regular/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),url('../fonts/glyphicons-halflings-regular/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular/glyphicons-halflings-regular.svg') format('svg');
  font-weight:"normal";
  font-style:"normal"
}

/*
 ****************
 * =global styles
 ****************
 */  
 body {
 	font-size: 13px;
  min-width: 990px;
 }

 a {
 	text-decoration: none;
 	color: #0066cc;
 }

 p {
 	display: inline;
 }

/*
 ****************
 * =navigation
 ****************
 */  

 .mclasshead {
 	background-color: black;
 	color: #ffffff;
 	height: 28px;
 	font-weight: bolder;
 }

 .mclasshead p {
   display: inline;
 }

 .beaconlogo {
   font-family: "amplify", "Courier", serif;
   font-size: 18px;
   font-weight: lighter;
   padding: 1px 0px 2px 10px;
 }

 .tm {
   font-size: 9px;
   padding: 5px 0px;
   vertical-align: top;
 }

 .username {
   margin-left: 10px;
   padding: 1px 10px 2px 10px;
   font-family: "benton-sans-light";
 }

 .globalnav_item {
   font-family: "benton-sans-light";
   display: inline;
   color: #99ccff;
 }

 .globalnav {
   text-decoration: none;
   float: right;
   margin-right: 10px;
   padding-top: 4px;
 }

 .beaconnav {
 	background-color: #e9e9e9;
 	border-bottom: 1px solid #b4b4af;
 	margin-bottom: 10px;
 	padding: 5px 5px 5px 0px;
 	margin: 0px;
 	height: 18px;
 }

 .beaconnav>li {
 	display: inline;
 	margin: 10px;
 }

/*
 ****************
 * =params
 ****************
 */  

 .usercontrols {
  margin: 10px 30px;
}


.params {
  line-height: 30px;
  margin-bottom: 5px;
}

.pagetitle {
	font-size: 18px;
}

.param_label, .print {
  color: #666666;
}

.print:before {
  content: url("../pfriend.png");
  position: relative;
  left: -2px;
  top: 6px;
}

.params>td{
  margin: 0px 30px;
}

.param_label {
  text-align: right;
  width: 70px;
}

.sections {
  margin-left: 15px;
}

option.sections
{
  zpadding-top: 5px;
  zheight: 24px;
}

select.sections {
  zbackground-color:#f1f1f1;
  z-moz-border-radius:2px;
  z-webkit-border-radius:2px;
  zborder-radius:2px;
  zborder:1px solid #e3e3e3;
  zheight: 24px;
  width: 190px;
  zfont-size: 13px;
  font-family: sans-serif;
}

table.params>tr>td {
	height: 30px;
}

.print, .assmtname{
  margin-left: 20px;
}

/*
 ****************
 * =names
 ****************
 */  

 .stu_list>ul>li{
  -webkit-transform: rotate(-45deg) scale(1);
  -moz-transform: rotate(-45deg) scale(1);
  -o-transform: rotate(-45deg) scale(1);
  -ms-transform: rotate(-45deg) scale(1);
  transform: rotate(-45deg) scale(1);
  display: inline-block;
  float: left;
  min-width: 80px;
  margin: 0px -40px 0px 0px;
  padding: 0px;
}

.rotate {
	display: inline-block;
}

.stu_table, .stu_list {
  margin: 20px 2px;
}

.stu_table>table>tbody>tr>td{
  -webkit-transform: rotate(-45deg) scale(1);
  -moz-transform: rotate(-45deg) scale(1);
  -o-transform: rotate(-45deg) scale(1);
  -ms-transform: rotate(-45deg) scale(1);
  transform: rotate(-45deg) scale(1);
  min-width: 40px;
  width:40px;
  letter-spacing: 0em;
  overflow: hidden;
}

/*
 ****************
 * =scores
 ****************
 */  
 td.score {
 	-moz-box-sizing: border-box;
 	-webkit-box-sizing: border-box;
 	box-sizing: border-box;
 	border-top: 8px solid #dddddd;
 	border-bottom: 8px solid #dddddd;
 	border-left: 4px solid #dddddd;
 	border-right: 4px solid #dddddd;
 	width: 38px;
 	text-align: center;
 	vertical-align: middle;
 	height: 38px;
 }

 tr.score {
 	border: 1px solid #ffffff;
 }

 input {
 	width: 28px;
 	height: 22px;
 	text-align: center;
 	font-size: 14px;
 	font-weight: bolder;
 }

 .tst_cr {
   margin: 100px 0px 0px 30px;
 }

 .tst_stu {
   width: 0px auto;
 }

 .scores {
  display: inline-block;
  width: 500px;
}

/*
 ****************
 * =items
 ****************
 */  

 .item_prompt {
 	padding: 0px 5px;
 	width: 318px;
 }

 .pts_possible {
 	background-color: #f2f5fa;
 	color: #1C9200;
 	font-weight: bold;
 	width: 54px;
 }

 .items>table>tbody>tr>td {
 	height: 40px;
 	text-align: center;
  zpadding-left: 20px;
  vertical-align: middle;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}

.item_prompt, .pts_possible {
  border: 1px solid #b4b4af;
}

/*debug - need to be able to center pts possible a
and  left-align item prompt */
.pts_possible>td {
  text-align: center;
}
.view_work {
 margin-left: -10px;
 margin-right: 10px;
}

.item_wrapper {
  width: 600px;
  margin: 100px auto;
}

.item_type {
  margin-right: 10px;
}

input[type=checkbox]
{
  /* three-quarter-sized Checkboxes */
  z -ms-transform: scale(.75); /* IE */
  z-moz-transform: scale(.75); /* FF */
  z -webkit-transform: scale(.75); /* Safari and Chrome */
  z -o-transform: scale(.75); /* Opera */
  width: 16px;
  height: 13px;
  padding: 0;
  margin:0;
  vertical-align: text-bottom;
  position: relative;
  top: -1px;
  *overflow: hidden;
}


/*
 ****************
 * =all student responses
 ****************
 */  

 ul.all_stu_resp {
   list-style: none;
   margin: 30px 0px;
 }

 li.stu_resp {
  border-bottom: 2px solid #dddddd;
  margin: 10px 0px;
  padding: 0px 0px 20px 0px;
}

.back {
  zmargin: 50px 20px;
}

.full_item_prompt {
  border-bottom: 2px solid #b4b4af;
  padding-bottom: 20px;
}

.full_item_wrapper, .response_wrapper {
  width: 600px;
}

.stu_resp:last-child {
  border-bottom: 0px;
}

/*
 ****************************
 * =embedded student responses
 ****************************
 */  
 #response_detail {
  border: 1px solid #dddddd;
}

#response_detail>td {
  padding: 15px;
}

#blank_row {
  border: 0px;
  height: 90px;
}

/*
 ****************
 * =footer
 ****************
 */  

.footer {
position: relative;
left: 740px;
top: 50px;
}

.footer>ul>li {
  display: inline;
}

.save {
  background-color:#dddddd;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  border-radius:2px;
  border:1px solid #aaaaaa;
  display:inline-block;
  cursor:pointer;
  color:#333333;
  font-family:arial;
  font-size:15px;
  padding:6px 18px;
  text-decoration:none;
  text-shadow:0px 1px 0px #e3e3e3;
}

.save:hover {
  background-color:#aaaaaa;
}

.save:active {
  position:relative;
  top:1px;
}

/*
****************
* =positioning
many of this could be done with margins and padding
****************
*/  

.usercontrols {
	position: relative;
	top: 10px;
}

.hiderows label {
  clear: both;
  display: block;
  padding-left: 15px;
  text-indent: -15px;
  display: block;
  left: 10px;
  padding-left: 15px;
  position: absolute;
  text-indent: -15px;
  top: 212px;
}

.items {
  clear: both;
	position: relative;
	top: 35px;
	left: 10px;
  display: inline-block;
}

.scores {
  clear: both;
	position: relative;
	top: 35px;
	left: 15px;
}

.stu_table, .stu_list {
	position: relative;
	top: 15px;
	left: 395px;
}

.response_wrapper {
  position: relative;
  top: 50px;
  left: 65px;
}

/*
****************
* =toggles
****************
*/  

.idea {
  display: all;
}

.old {
  display: none;
}

.college_board {
  display: none;
}

.to_deprecate {
  display: all;
}

.hide_element {
 display: none;
}

.show_element {
 display: all;
}


.item_row_scored {
display: none;
}


/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */

.clearfix:before,
.clearfix:after,
.container_12:before,
.container_12:after,
.container_16:before,
.container_16:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}

.clearfix:after,
.container_12:after,
.container_16:after {
  clear: both;
}

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/

.clearfix,
.container_12,
.container_16 {
  zoom: 1;
}
